@import 'tailwindcss';

@font-face {
    font-family: 'Dirtyline';
    src: url('$lib/fonts/Dirtyline.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('$lib/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('$lib/fonts/IBMPlexMono-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('$lib/fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-red: #E7484C;
    --color-green: #E3DB4D;
    --color-beige: #ECE9E7;
    --color-blue: #1447E6;
    --color-brown: #242323;
    --color-gray:#ABA4A4;
    --color-dark-gray: #464141;
    /*--color-gray: #A5A4AB;
    --color-dark-gray: #59585E;*/
    --color-white:#FCF7F7;
    --font-dirty: 'Dirtyline';
    --font-bebas: 'Bebas Neue';
    --font-mono: 'IBM Plex Mono';
    --font-lato: 'Lato';
    --ease-spring: linear(
        0, 0.2 6%, 0.7 16%, 1.08 28%, 1.12 34%, 1.08 40%,
        1.0 48%, 0.96 55%, 0.978 63%, 1.01 71%,
        1.004 78%, 0.999 85%, 1
      );
    /*https://cubic-bezier.com/#0,.87,.22,1.07*/
    --ease-hover: cubic-bezier(0,.87,.22,1.07);

}


html {
    @apply bg-beige font-lato;
    scrollbar-color: rgba(70, 65, 65, 0.5) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
}
